body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}
h1, h2, h3 {
  color: #333;
}
a {
  color: #007BFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin-bottom: 10px;
}
.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-image-wrapper {
  width: 200px; /* Adjust this width as necessary */
  height: 200px; /* Adjust this height as necessary */
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.profile-image {
  width: auto;
  height: 150%; /* Scale the height to zoom in */
  position: absolute;
  top: 10%; /* Move the image up to focus higher */
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5); /* Scale and center the image */
}
.social-links {
  display: flex;
  gap: 15px;
}
.social-links img {
  width: 32px;
  height: 32px;
}

